<%- include ('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<body>
    <div class="container">
      <%- include ('./pizzas.ejs') %>
      <%- include ('./pratos.ejs') %>
      <%- include ('./burguer.ejs') %>
      <%- include ('./bebidas.ejs') %>
    </div>          
</body>

<%- include ('./partials/footer.ejs') %>